.facebook-logo {
    width: 35px;
    height: auto;
    padding-top: 7.5px;
}

#facebook-menu {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

.menu_logo {
    width: 180px;
    padding: 0;
    padding-top: 10px;
    padding-right: 15px;
    margin-left: 10px;
}

.mt-content-image {
    margin-top: 50px;
}

.navbar {
    position: fixed;
}

#space-filler {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 10%;
        left: 10%;
        padding-bottom: 30px;
    }
}

.mb50 {
    margin-bottom: 300px;
}

.left-menu {
    width: 200px;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 100;
    background-color: #101010;
}

.banner-icon {
    position: absolute;
    top: 170px;
    left: 25%;
    right: 25%;
    max-width: 500px;
}

.grey-a {
    color: #999999;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #080808;
}

.pl100 {
    padding-left: 100px;
}

#org-icon {
    width: 700px;
}

.client-list-div {
    width: 100%
}

.client-list-title{
    font-weight: bold;
}

/*#myCarousel {*/
/*left: 50%;*/
/*right: 50%;*/
/*}*/
